/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600;700&display=swap');

:root {
    --color-darkblue: #0D28A6;
    --color-green: #5CB85F;
    --color-lightblue: #CFD4ED;
    --color-mediumblue: #AEB7E1;
    --color-white: #FFF;
    --color-lightgrey: #F4F5F7;
    --color-grey: #8A8A8A;
    --color-blacknormal: #222;
    --color-red: #FA2C5A;
}

html,
body {
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
    background-color: var(--color-lightgrey);
    height: 100%;
}

#searchbar>form>.form-control {
    width: 174px;
}

.text-blue {
    color: var(--color-darkblue);
}

.btn-blue {
    background-color: var(--color-darkblue);
    color: var(--color-white);
}

.btn-blue:hover {
    background-color: #1637c7;
    color: var(--color-white);
}

.btn-green {
    background-color: var(--color-green);
    color: var(--color-white);
    height: 48px;
    width: 120px;
}

.btn-green:hover {
    background-color: #4da54f;
    color: var(--color-white);
}

.btn-outline-blue {
    border: 1px solid var(--color-darkblue);
    color: var(--color-darkblue);
}

.btn-outline-blue:hover {
    background-color: var(--color-lightblue);
    color: var(--color-darkblue);
}

.btn-outline-red {
    border: 1px solid var(--color-red);
    color: var(--color-red);
    height: 48px;
    width: 120px;
}

.btn-outline-red:hover {
    border: 1px solid var(--color-red);
    background-color: var(--color-lightgrey);
    color: var(--color-red);
}

.btn-filter {
    border: 1px solid var(--color-darkblue);
    background-color: var(--color-lightblue);
    color: var(--color-darkblue);
}

.btn-filter:hover {
    background-color: #e1e5f8;
    color: var(--color-darkblue);
}

.btn-filter-inactive {
    border: 1px solid var(--color-mediumblue);
    background-color: var(--color-white);
    color: var(--color-mediumblue);
}

.btn-filter-inactive:hover {
    background-color: #e1e5f8;
    color: var(--color-darkblue);
}

#nav-brand {
    width: 34px;
    height: 34px;
    background-color: var(--color-lightblue);
}

#nav-brand-large {
    width: 100px;
    height: 34px;
    background-color: var(--color-lightblue);
}

#navbar > .container-fluid {
    position: fixed;
    right: 0;
    left: 102px;
    width: auto;
}

#navbar,
.navbarbrand {
    background-color: var(--color-white);
    box-shadow: 2px 0 8px rgba(0, 0, 0, .05);
    z-index: 2;
}

.nav-button {
    width: 102px;
    padding: 12px 16px;
    cursor: pointer;
}

.nav-button:hover,
.nav-button:active,
.nav-button.selected {
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
}

#icon-nav {
    position: fixed;
    width: fit-content;
    left: 0%;
    right: 75.86%;
    top: 0%;
    bottom: 0%;
    background-color: var(--color-darkblue);
}

#sidebar {
    height: 100%;
}

#side-nav {
    position: fixed;
    left: 102px;
    top: 7.76%;
    bottom: 0;
    width: 220px;
    height: 100%;
    background-color: var(--color-white);
}

.text-grey {
    color: var(--color-grey);
}

.side-active {
    background-color: var(--color-lightblue);
}

#avatar {
    background-color: var(--color-lightblue);
    width: 38px;
    height: 38px;
    line-height: 38px;
    border-radius: 50%;
    text-align: center;
}

.content {
    position: absolute;
    left: 24%;
    top: 16%;
}

.breadcrumb-item a {
    text-decoration: none;
    color: var(--color-blacknormal);
}

.required:after {
    content: '*';
    color: var(--color-red);
}

.add-car {
    background-color: var(--color-white);
    padding: 24px;
    border-radius: 8px;
    width: 1100px;
}

/* Modal Styling */
/* Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%;
    /* Could be more or less, depending on screen size */
}

.confirmBtn {
    width: 120px;
    height: 48px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#alertSave, #alertAdd {
    top: 6%;
    left: 20%;
    margin: 0 auto;
    position: absolute;
    width: 550px;
    z-index: 2;
}

#alertDelete {
    top: 12%;
    left: 30%;
    margin: 0 auto;
    position: absolute;
    width: 550px;
    z-index: 3;
}